streamlit
streamlit-option-menu
pandas
numpy
scipy
python-dateutil
plotly
matplotlib
seaborn
torch
transformers
pytorch-lightning
datasets
wordcloud
nltk
contractions
scikit-learn
requests
accelerate
python-dotenv
tqdm
pyyaml
urllib3
certifi
shap
